<div class="row">
  <div class="col">
    <h1>*ngIf</h1>
    <hr />
    <div class="card text-white bg-dark mb-3"
         style="width: 100%"
         *ngIf="openfrase">
      <div class="card-body">
        <h5 class="card-title">{{ frase.autor }}</h5>
        <p class="card-text">{{ frase.mensaje }}</p>
      </div>
    </div>
    <button class="btn btn-outline-primary w-100" (click)="HideShow()">
      MostrarOcultar
    </button>
  </div>
  <div class="col">
    <h1>*ngFor</h1>
    <hr />
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let personaje of personajes; let i = index">
        {{ i + 1 }} {{ personaje }}
      </li>
    </ul>
  </div>
</div>
